@{
    ViewData["Title"] = "Home Page";
}


    

<div class="text-center">
    <h1 class="display-4">MVC</h1>
	
	@* <button>  
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a></p>
     </button> *@

</div>

<img src="https://codegym.cc/images/article/4688f1d6-c2d3-4337-b3c8-0d403e3c242f/original.png" />
